<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="/public/CSS/main.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <%- include("partials/navbar.ejs") %>
        
        <div class="box">
            <form class="none">
                <h3>Такой пользователь не найден!</h3>
                <a href="home">Вернуться на главную страницу</a>
            </form>
        </div>
    </body>
</html>